    body{
        background-image: url("backgroundimg.jpg");
    }
    h1{
        color: aliceblue;
        font-family:'Times New Roman', Times, serif ;
    }
    p{
        color: aliceblue;
        font-family:'Times New Roman', Times, serif ;
        font-size: larger;
    }
    #list{ 
        color: aliceblue;
        font-family:'Times New Roman', Times, serif ;
        font-size: larger;
}
    ol{
        color: aliceblue;
        font-family:'Times New Roman', Times, serif ;
        font-size: larger;
    }